.navbar,
.menu-item:hover,
.menu-item-active,
.menu-item-active:hover {
	background-color: #E62129;
	font-weight: bold;
}

.menu-item {
	background-color: #343A40;
}

#body-row {
	margin-left: 0;
	margin-right: 0;
}

#sidebar-container {
	min-height: 100vh;
	background-color: #333;
	padding: 0;
}


.sidebar-expanded {
	width: 230px;
}

.sidebar-collapsed {
	width: 60px;
}


#sidebar-container .list-group a {
	height: 50px;
	color: white;
}


#sidebar-container .list-group .sidebar-submenu a {
	height: 45px;
	padding-left: 30px;
}

.sidebar-submenu {
	font-size: 0.9rem;
}


.sidebar-separator-title {
	background-color: #333;
	height: 35px;
}

.sidebar-separator {
	background-color: #333;
	height: 25px;
}


#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
	content: " \f0d7";
	font-family: FontAwesome;
	display: inline;
	text-align: right;
	padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
	content: " \f0da";
	font-family: FontAwesome;
	display: inline;
	text-align: right;
	padding-left: 10px;
}

/* Soal 1 */
.soal1 {
	margin: auto;
	background-color: #343A40;
	width: 25%;
	height: 5%;
	overflow: scroll;
	padding: 10px;
	color: white;
}
